@import "../../global.scss";
.footer {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  background-color: $mainColor;
  color: white;

  .wrapper {
    display: flex;
    justify-content: space-around;
    width: 40%;
    .left {
      .links--container {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
      }
      p {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
